@import "../../shared/variable.scss";

.overview {
	&--header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.project {
			&--action {
				button {
					background-color: $primary-ultra-light;
					color: black;
				}
			}
		}
	}
}
