<header id="header">
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-menu">
				<a class="navbar-brand" color="primary" href="#"
					><i class="bx bx-code-alt"></i>Task Management</a
				>
				<!-- <li
					class="menu--item"
					[routerLink]="['/pages']"
					(click)="swithRoute(0)"
					[class.tab-active]="0 == activeIndex">
					Home
				</li> -->

				<!-- <li
					class="menu--item"
					[routerLink]="['/pages/create']"
					(click)="swithRoute(1)"
					[class.tab-active]="1 == activeIndex">
					Create project
				</li>
				<li
					class="menu--item"
					[routerLink]="['/pages/my-p']"
					(click)="swithRoute(2)"
					[class.tab-active]="2 == activeIndex">
					My projects
				</li> -->
			</ul>
			<div class="navbar-auth" *ngIf="!isLogin">
				<a href="/auth/login" class="btn">Log in</a>
				<a href="/auth/register" class="btn">Sign up</a>
			</div>
			<div class="navbar-user" *ngIf="isLogin">
				<div class="header--user" (click)="toggleUserMenu()">
					<i class="bx bxs-user"></i>
					<span class="user-name">Hi {{ username }}</span>
					<i class="bx bx-chevron-left" *ngIf="!isUserMenu"></i>
					<i class="bx bx-chevron-down" *ngIf="isUserMenu"></i>
				</div>
				<ul class="user-dropdown" *ngIf="isUserMenu">
					<li class="dropdown--item" (click)="detailUser()">Info</li>
					<!-- <li class="dropdown--item" (click)="myProject()">
						My projects
					</li> -->
					<li
						class="dropdown--item d-flex align-items-center justify-content-between"
						(click)="logOut()">
						Log out
						<i class="fa fa-arrow-right" aria-hidden="true"></i>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
